<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.observability.otelcol</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ bin_dir }}/otelcol-contrib</string>
        <string>--config={{ etc_dir }}/otel-config.yaml</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>{{ log_dir }}/otelcol.err.log</string>
    <key>StandardOutPath</key>
    <string>{{ log_dir }}/otelcol.out.log</string>
</dict>
</plist>
