<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.observability.grafana</string>
    <key>WorkingDirectory</key>
    <string>{{ base_dir }}/grafana</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ base_dir }}/grafana/bin/grafana-server</string>
        <string>--config={{ etc_dir }}/grafana/grafana.ini</string>
        <string>--homepath={{ base_dir }}/grafana</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>{{ log_dir }}/grafana.err.log</string>
    <key>StandardOutPath</key>
    <string>{{ log_dir }}/grafana.out.log</string>
</dict>
</plist>
