<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.observability.victoriametrics</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ bin_dir }}/victoria-metrics-prod</string>
        <string>-storageDataPath={{ var_dir }}/victoriametrics</string>
        <string>-httpListenAddr=:{{ victoriametrics_port }}</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>{{ log_dir }}/victoriametrics.err.log</string>
    <key>StandardOutPath</key>
    <string>{{ log_dir }}/victoriametrics.out.log</string>
</dict>
</plist>
